management:
  security:
    enabled: false
server:
  port: 8888
spring:
  cloud:
    config:
      server:
        git:
          deleteUntrackedBranches: true
          force-pull: true
          uri: file:///${USERPROFILE}/Desktop/config-server-repo
  profile:
    active: native
